{% extends 'base.html' %}
    {% block stylesheet %}

        <link rel="stylesheet" href="https://js.arcgis.com/4.8/esri/css/main.css">

        <style>
        html, body, #viewDiv {
          padding: 0;
          margin: 0;
          height: 100%;
          width: 100%;
        }
        .content {
        width: 100%;
        height: 100%;
        display: flex;
        }
        .info{
          width: 20%;
        }
        </style>


    {% endblock %}
{% block content %}
    <div class="content">
        <div id="viewDiv"></div>
        <div class="info">
            <h1>Description: </h1>
            <div class="info1" style="display: flex;padding: 10px;"><span style="width: 15px; height: 15px; background: rgb(226, 119, 40); border-radius: 50%;margin-top: 5px;"></span><span>: Existing school</span></div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="https://js.arcgis.com/4.8/"></script>
        <script>
        let lon=[];
        let lat=[];
    require([
		  "esri/Map",
		  "esri/views/MapView",
		  //*** ADD ***//
		  "esri/Graphic",
		  "esri/geometry/Point",
		  "esri/symbols/SimpleMarkerSymbol",
		  "dojo/domReady!"
		], function(Map, MapView,
		      //*** ADD ***//
		      Graphic, Point, SimpleMarkerSymbol
		) {

      let map = new Map({
        basemap: "topo-vector"
      });

      let view = new MapView({
	    container: "viewDiv",
	    map: map,
	    //*** ADD ***//
	    center: [90.3564612,23.7872745],
	    zoom: 12
	  });
      //*** ADD ***//
	  // Create a point


    {% for ins in institute %}
        $.getJSON('https://maps.googleapis.com/maps/api/geocode/json?address={{ ins }}&key=AIzaSyA43-pm17h9AYwodjdvqYMVXc3z60BaJX0', function(data) {
            lon.push(data.results[0].geometry.location.lng);
            lat.push(data.results[0].geometry.location.lat);
        });
    {% endfor %}



	  // Create a symbol for drawing the point
	  let markerSymbol = new SimpleMarkerSymbol({
	    color: [226, 119, 40],
	    outline: {
	      color: [255, 255, 255],
	      width: 1
	    }
	  });

	  // Create a graphic and add the geometry and symbol to it
	  for (let i = 0; i < lat.length; i++) {
	  	let point = new Point({
		    longitude: lon[i],
		    latitude: lat[i]
		  });
	  	let graphic_point = new Graphic({
		    geometry: point,
		    symbol: markerSymbol
		  });
	  	view.graphics.add(graphic_point);
	  }
    });
  </script>
{% endblock %}