{% extends 'base.html' %}
{% block meta %}

{% endblock %}
{% block title %}SpatialDB documentation{% endblock %}
{% block stylesheet %}
    <style>
    header {
    height: 0px!important;
    margin-bottom: 0px!important;
}
    .carousel{
    height: 300px;
}
    .page-wrapper{
        margin-top: 20px;
    }
    .single-doc{
        margin-top: 10px;
    }
    </style>
{% endblock %}
{% block content %}
    {% load staticfiles %}
<!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade"  data-ride="carousel">


    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="view" style="background-image: url('https://s3.amazonaws.com/dev.assets.neo4j.com/wp-content/uploads/20160414124341/spatial-data-graph-visualization-approach.png'); background-repeat: no-repeat; background-size: cover;">
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h3><strong>Documentation</strong></h3>
            </div>
            <!-- Content -->
          </div>
          <!-- Mask & flexbox options-->
        </div>
      </div>
      <!--/First slide-->




    </div>
    <!--/.Slides-->
  </div>
    <div class="page-wrapper">
        <div class="container">
            <div class="docs-main">
                {% for documentation in documentation_list %}
                    <div class="card single-doc">
                    <div class="card-body">
                        <h3 class="card-title"><a href="{% url 'maxrs:SingleDoc' documentation.slug %}">{{ documentation.title.capitalize }}</a></h3>
                        <p>{{ documentation.body|safe|truncatewords:50 }}</p>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

{% endblock %}