{% extends 'base.html' %}
{% block title %}
    Add a new object
{% endblock %}
{% block meta %}
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card border-primary mb-3">
              <div class="card-header text-center text-white bg-primary mb-3">
                <h3>Create a new object</h3>
              </div>
              <div class="card-body">
                <form action="" method="POST">
                {% csrf_token %}
                    <h5 class="p-2 mb-2 bg-info text-white">Address info</h5>
                    <div class="row">
                        <div class="col-md-6">{{ form.district|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.thana|as_crispy_field  }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form.post_office|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.code|as_crispy_field  }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ form.address|as_crispy_field  }}</div>
                    </div>
                    <h5 class="p-2 mb-2 bg-info text-white">Basic info</h5>
                    <div class="row">
                        <div class="col-md-6">{{ form.name|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.type|as_crispy_field  }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form.level|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.management|as_crispy_field  }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form.gender_type|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.area_type|as_crispy_field  }}</div>
                    </div>
                    <h5 class="p-2 mb-2 bg-info text-white">Geographical info</h5>
                    <div class="row">
                        <div class="col-md-4">{{ form.geography|as_crispy_field  }}</div>
                        <div class="col-md-4">{{ form.longitude|as_crispy_field  }}</div>
                        <div class="col-md-4">{{ form.lattitude|as_crispy_field  }}</div>
                    </div>
                    <h5 class="p-2 mb-2 bg-info text-white">Ratio of different income families</h5>
                    <div class="row">
                        <div class="col-md-4">{{ form.high_income|as_crispy_field  }}</div>
                        <div class="col-md-4">{{ form.mid_income|as_crispy_field  }}</div>
                        <div class="col-md-4">{{ form.low_income|as_crispy_field  }}</div>
                    </div>
                    <h5 class="p-2 mb-2 bg-info text-white">Contact info</h5>
                    <div class="row">
                        <div class="col-md-12">{{ form.mobile|as_crispy_field  }}</div>
                    </div>
                    <h5 class="p-2 mb-2 bg-info text-white">No of male and female student info</h5>
                    <div class="row">
                        <div class="col-md-4">{{ form.no_of_male|as_crispy_field  }}</div>
                        <div class="col-md-4">{{ form.no_of_female|as_crispy_field  }}</div>
                        <div class="col-md-4">{{ form.total|as_crispy_field  }}</div>
                    </div>
                <div class="text-center">
                    <button class="btn btn-primary">Add object</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                    <a id="sample" class="btn btn-default">Sample input</a>
                </div>
                </form>
              </div>
              <div class="card-footer text-muted">
                  <a href="">Follow the instructions to add new object</a>
              </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function () {
        $("#sample").click(function (event) {
            $('#id_district').val("Dhaka");
            $('#id_thana').val("Mohammadpur");
            $('#id_post_office').val("Adabor");
            $('#id_code').val("1210");
            $('#id_address').val("Full address of the object. e.g: House 12-A, Humayun Road");
            $('#id_name').val("Name of the institute");
            $('#id_type').val("School or College");
            $('#id_level').val("Secondary or Higher secondery");
            $('#id_gender_type').val("Boys or Girls or Co-education");
            $('#id_area_type').val("City Corporation");
            $('#id_geography').val("Plainland");
            $('#id_longitude').val("94.245864");
            $('#id_lattitude').val("23.54521");
            $('#id_high_income').val("0.15");
            $('#id_mid_income').val("0.26");
            $('#id_low_income').val("0.59");
            $('#id_mobile').val("01763433XXX");
            $('#id_no_of_male').val("254");
            $('#id_no_of_female').val("562");
            $('#id_total').val("816");
            $('#id_management').val("Private or Public");
        });
    });
    </script>
{% endblock %}