{% extends 'base.html' %}
{% block meta %}

{% endblock %}
{% block title %}
Welcome to our final project show.
{% endblock %}
{% block stylesheet %}
    <style>
        header {
            margin-bottom: 150px!important;
        }
            @media (max-width: 780px){
                header{
                    margin-bottom: 50px!important;
                }
            }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'maxrs:visual' %}"><h1>Visualize from CSV</h1></a>
            <p>It will not important to store the spatial data in the database. Rather you can upload a csv file in a fixed format and view the maximizing range sum based on your data. You must follow the data format from <a href="">here</a> </p>
        </div>
        <div class="col-md-6">
            <a href="{% url 'maxrs:visual_from_db' %}"> <h1>Visualize from existing data</h1> </a>
            <p>Database contains large amount of spatial data with different parameter. You can use them to see the maximizing range sum. You can also add new spatial data related to school, college, hospital etc from
                <a href="{% url 'maxrs:create' %}">here</a> or you also can import the csv file to store in database from <a href="{% url 'maxrs:add_object' %}">here</a></p>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}