{% extends 'base.html' %}
{% block title %}Final project summer 2018{% endblock %}
{% block stylesheet %}
    <style>
    div.card{
        margin-top: 50px;
    }
    #range div.col-md-6{
        margin-top: 10px;
    }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header purple lighten-1 white-text">
            {% if request.path == "/import/object" %}
                Import objects from csv
                {% elif request.path == '/import/junction' %}
                Import junction from csv
            {% endif %}
        </div>
        <div class="card-body">
            <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <hr>
            <div class="form-group">
                <label for="file">Select Data File:</label>
                <input type="file" name="csv" id="file" class="form-control">
                <div class="file-status"></div>
            </div>

            <div class="form-group">
                <button type="reset" class="btn btn-primary">Reset</button>
                <button class="btn btn-success" id="go">GO</button>
            </div>

        </form>
        </div>
        <div class="card-footer text-muted">
            <a href="#instruction" data-toggle="collapse" aria-expanded="false" aria-controls="instruction">{% if request.path == "/import/object" %}Follow the instructions to add new object{% else %}Follow the instructions to add new Junction{% endif %}</a>
        </div>
        <div class="collapse" id="instruction">
            <p style="padding-left: 20px;">File must be in csv format.</p>
        </div>
    </div>

</div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function(){
        $("#go").click(function (event) {
             let file=$('#file');


            if (file.val()==''){
                file.addClass('is-invalid');
                file.prev('label').addClass('text-danger').removeClass('text-success');
                $('.file-status').html('<p class="text-danger">Data file is required</p>');
                event.preventDefault();
            } else{
                var ext=['csv'];
                if ($.inArray(file.val().split('.').pop().toLowerCase(), ext) === -1){
                    file.addClass('is-invalid');
                    file.prev('label').addClass('text-danger').removeClass('text-success');
                    $('.file-status').html('<p class="text-danger">File format is not supported. Please use csv format.</p>');
                    event.preventDefault();
                } else{
                    file.removeClass('is-invalid').addClass('is-valid');
                    file.prev('label').removeClass('text-danger').addClass('text-success');
                    $('.file-status').html('');
                }
            }
        });
    });
    </script>
{% endblock %}