{% extends 'base.html' %}
{% block title %}Final project summer 2018{% endblock %}
{% block stylesheet %}
    <style>
    div.card{
        margin-top: 50px;
    }
    #range div.col-md-6{
        margin-top: 10px;
    }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header purple lighten-1 white-text">Expecting best possible school location</div>
        <div class="card-body">
            <form action="?type=topo-vector" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" id="type-group">
                <label for="type">Select type:</label>
                    <select name="type" id="type" class="form-control">
                        <option value="">-------</option>
                        <option value="SECONDARY">SECONDARY</option>
                        <option value="JUNIOR SECONDARY">JUNIOR SECONDARY</option>
                    </select>
                <div class="alert-txt"></div>
            </div>
            <div class="form-group" id="area-group">
                <label for="area">Area:</label>
                    <select name="area" id="area" class="form-control">
                        <option value="">-------</option>
                        <option value="GULSHAN">Gulshan</option>
                        <option value="MOHAMMADPUR">Mohammadpur</option>
                        <option value="ADABOR">Adabor</option>
                        <option value="BADDA">Badda</option>
                        <option value="BANGSHAL">Bangshal</option>
                        <option value="BIMAN BANDAR">Biman Bandar</option>
                        <option value="BANANI">Banani</option>
                        <option value="CANTONMENT">Cantonment</option>
                        <option value="CHAK BAZAR">Chak Bazar</option>
                        <option value="DAKSHINKHAN">Dakshin khan</option>
                        <option value="DARUS SALAM">Darus Salam</option>
                        <option value="DEMRA">Demra</option>
                        <option value="DHAMRAI">Dhamrai</option>
                        <option value="DHAKA CANTONMENT">Dhaka Cantonment</option>
                        <option value="MIRPUR">Mirpur</option>
                    </select>
                <div class="area-text"></div>
            </div>
                <hr>
            <div class="form-group">
                <label for="range">Student Range</label>
                <div class="row" id="range">
                    <div class="col-md-6">
                        <div class="form-row">
                            <label for="from" class="col-2">Form: </label>
                            <input type="number" class="col-10 form-control" id="from">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-row">
                            <label for="to" class="col-2">To: </label>
                            <input type="number" class="col-10 form-control" id="to">
                        </div>
                    </div>
                </div>
            </div>
                <hr>
            <div class="form-group">
                <label for="file">Select Data File:</label>
                <input type="file" name="csv" id="file" class="form-control">
                <div class="file-status"></div>
            </div>

            <div class="form-group">
                <button type="reset" class="btn btn-primary">Reset</button>
                <button class="btn btn-success" id="go">GO</button>
            </div>

        </form>
        </div>
    </div>

</div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function(){
        $("#go").click(function (event) {
            let type=$('#type');
            let file=$('#file');
            let area=$('#area');
            if (type.val()==''){
                type.addClass('is-invalid');
                type.prev('label').addClass('text-danger').removeClass('text-success');
                $('.alert-txt').html('<p class="text-danger">Type is required</p>');
                event.preventDefault();
            } else{
                $('.alert-txt').html('');
                type.removeClass('is-invalid').addClass('is-valid');
                type.prev('label').addClass('text-success').removeClass('text-danger');
            }

            if (area.val()==''){
                area.addClass('is-invalid');
                area.prev('label').addClass('text-danger').removeClass('text-success');
                $('.area-text').html('<p class="text-danger">Area is required</p>');
                event.preventDefault();
            } else{
                $('.area-text').html('');
                area.removeClass('is-invalid').addClass('is-valid');
                area.prev('label').addClass('text-success').removeClass('text-danger');
            }

            if (file.val()==''){
                file.addClass('is-invalid');
                file.prev('label').addClass('text-danger').removeClass('text-success');
                $('.file-status').html('<p class="text-danger">Data file is required</p>');
                event.preventDefault();
            } else{
                var ext=['csv'];
                if ($.inArray(file.val().split('.').pop().toLowerCase(), ext) === -1){
                    file.addClass('is-invalid');
                    file.prev('label').addClass('text-danger').removeClass('text-success');
                    $('.file-status').html('<p class="text-danger">File format is not supported. Please use csv format.</p>');
                    event.preventDefault();
                } else{
                    file.removeClass('is-invalid').addClass('is-valid');
                    file.prev('label').removeClass('text-danger').addClass('text-success');
                    $('.file-status').html('');
                }
            }
        });
    });
    </script>
{% endblock %}