{% extends 'base.html' %}
{% block title %}
    Add a new Junction
{% endblock %}
{% block meta %}
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card border-primary mb-3">
              <div class="card-header text-center text-white bg-primary mb-3">
                <h3>Create a new junction</h3>
              </div>
              <div class="card-body">
                <form action="" method="POST">
                {% csrf_token %}

                    <div class="row">
                        <div class="col-md-12">{{ form.name|as_crispy_field  }}</div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form.longitude|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.lattitude|as_crispy_field  }}</div>
                    </div>

                <div class="text-center">
                    <button class="btn btn-primary" id="addjunctionbtn">Add Junction</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
                </form>
              </div>
              <div class="card-footer text-muted">
                  <a href="#instruction" data-toggle="collapse" aria-expanded="false" aria-controls="instruction">Follow the instructions to add new Junction</a>
              </div>
                <div class="collapse" id="instruction">
                    <p style="padding-left: 20px;">Name must be in string format. Longitude and latitude will be floating point number and it will not exceed 9 length. To find the longitude and latitude of a location or junction name, go to
                        <a href="https://www.google.com/maps" target="_blank">Google map</a> and search the location. You will see a formate like <strong>@23.7921775,90.4309773,16z</strong> in url bar. Here small floating number is latitude and largest floating point number is longitude. Just copy first floating number from url bar and paste it to latitude input field, and copy the large one to paste in longitude input field. Then click on the <strong>add junction</strong> button</p>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}