{% extends 'base.html' %}
{% block meta %}

{% endblock %}
{% block title %}
    Login to get more options
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- Material form login -->
        <div class="card">

          <h5 class="card-header info-color white-text text-center py-4">
            <strong>Sign in</strong>
          </h5>

          <!--Card content-->
          <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form action="" method="POST" class="text-center" style="color: #757575;">
                {% csrf_token %}
              <!-- Username -->
              <div class="md-form">
                <input type="text" name="username" id="id_username" class="form-control">
                <label for="id_username">Username</label>
                  <p class="user-txt text-left"></p>
              </div>

              <!-- Password -->
              <div class="md-form">
                <input type="password" name="password" id="id_password" class="form-control">
                <label for="id_password">Password</label>
                  <p class="pass-txt text-left"></p>
              </div>

              <div class="d-flex justify-content-around">
                <div>
                  <!-- Forgot password -->
                  <a href="">Forgot password?</a>
                </div>
              </div>

              <!-- Sign in button -->
              <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" id="loginBtn">Log In</button>

              <!-- Register -->
              <p>Not a member?
                <a href="{% url 'maxrs:register' %}">Register</a>
              </p>

            </form>
            <!-- Form -->

          </div>

        </div>
        <!-- Material form login -->
    </div>
    <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $("#loginBtn").click(function (event) {
             let id_username=$('#id_username');
             let id_password=$('#id_password');


            if (id_username.val()==''){
                id_username.addClass('invalid');
                id_username.next('label').addClass('text-danger').removeClass('text-success');
                $('.user-txt').html('<p class="text-danger">Field is required</p>');
                event.preventDefault();
            } else{
                id_username.removeClass('invalid').addClass('valid');
                id_username.next('label').removeClass('text-danger').addClass('text-success');
                $('.user-txt').html('');
            }
            if (id_password.val()==''){
                id_password.addClass('invalid');
                id_password.next('label').addClass('text-danger').removeClass('text-success');
                $('.pass-txt').html('<p class="text-danger">Field is required</p>');
                event.preventDefault();
            } else{
                id_password.removeClass('invalid').addClass('valid');
                id_password.next('label').removeClass('text-danger').addClass('text-success');
                $('.pass-txt').html('');
            }
        });
    });
    </script>
{% endblock %}