{% extends 'base.html' %}
{% block title %}
    Add a new object
{% endblock %}
{% block meta %}
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card border-success mb-3">
              <div class="card-header text-center text-white bg-success mb-3">
                <h3>Create a new account</h3>
              </div>
              <div class="card-body">
                <form action="" method="POST">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">{{ form.first_name|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.last_name|as_crispy_field  }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form.username|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.email|as_crispy_field  }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form.password1|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.password2|as_crispy_field  }}</div>
                    </div>
                <div class="text-center">
                    <button class="btn btn-primary">Create account</button>
                </div>
                    <p>Already registered?
                        <a href="{% url 'maxrs:login' %}">Login</a>
                      </p>
                </form>
              </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
{% block script %}

{% endblock %}