{% extends 'base.html' %}
{% block meta %}

{% endblock %}
{% block title %}
documentation: {{ documentation.title }}
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block content %}
    <div class="page-wrapper">
    <div class="container">
        <div class="df">
            <h1>{{ documentation.title.capitalize }}</h1>
            <p>{{ documentation.body|safe }}</p>
        </div>
    </div>
    </div>
{% endblock %}
{% block script %}

{% endblock %}