{% extends 'base.html' %}
{% block meta %}

{% endblock %}
{% block title %}
    View the spatial max range sum from stored data
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header purple lighten-1 white-text">Expecting best possible school location using MaxRS</div>
        <div class="card-body">
            <form action="{% url 'maxrs:visual_view_db' %}" method="GET">

            <div class="form-group" id="type-group">
                <label for="type">Select type:</label>
                    <select name="type" id="type" class="form-control">
                        <option value="">-------</option>
                        {% for l in level %}
                            <option value="{{ l }}">{{ l.title }}</option>
                        {% endfor %}

                    </select>
                <div class="alert-txt"></div>
            </div>
            <div class="form-group" id="area-group">
                <label for="area">Area:</label>
                    <select name="area" id="area" class="form-control">
                        <option value="">-------</option>
                        {% for t in thana %}
                            <option value="{{ t }}">{{ t.title }}</option>
                        {% endfor %}

                    </select>
                <div class="area-text"></div>
            </div>
            <div class="form-group" id="management-group">
                <label for="management">Management:</label>
                    <select name="management" id="management" class="form-control">
                        <option value="">-------</option>
                        {% for m in management %}
                            <option value="{{ m }}">{{ m.title }}</option>
                        {% endfor %}
                    </select>
                <div class="management-text"></div>
            </div>
            <div class="form-group" id="area-group">
                <label for="area_type">Area type:</label>
                    <select name="area_type" id="area_type" class="form-control">
                        <option value="">-------</option>
                        {% for a in area_type %}
                            <option value="{{ a }}">{{ a.title }}</option>
                        {% endfor %}
                    </select>
                <div class="area_type-text"></div>
            </div>
            <div class="form-group" id="geography-group">
                <label for="geography">Geography of object:</label>
                    <select name="geography" id="geography" class="form-control">
                        <option value="">-------</option>
                        {% for g in geography %}
                            <option value="{{ g }}">{{ g.title }}</option>
                        {% endfor %}
                    </select>
                <div class="geography-text"></div>
            </div>
                <input type="hidden" name="map_type" value="topo-vector">
            <div class="form-group">
                <button type="reset" class="btn btn-primary">Reset</button>
                <button class="btn btn-success" id="go">GO</button>
            </div>

        </form>
        </div>
    </div>

</div>
{% endblock %}
{% block script %}

{% endblock %}