{% extends 'base.html' %}
    {% block stylesheet %}
        <link rel="stylesheet" href="https://js.arcgis.com/4.8/esri/css/main.css">
        <script src="https://js.arcgis.com/4.8/"></script>
        <style>
        html, body, #viewDiv {
          padding: 0;
          margin: 0;
          height: 100%;
          width: 100%;
        }
        .content {
        width: 100%;
        height: 100%;
        display: flex;
        }
        .info{
          width: 20%;
        }
        header {
            margin-bottom: 30px!important;
        }
        </style>
        <script>
    require([
		  "esri/Map",
		  "esri/views/MapView",
		  //*** ADD ***//
		  "esri/Graphic",
		  "esri/geometry/Point",
		  "esri/symbols/SimpleMarkerSymbol",
		  "dojo/domReady!"
		], function(Map, MapView,
		      //*** ADD ***//
		      Graphic, Point, SimpleMarkerSymbol
		) {

      let map = new Map({
        {#basemap: "topo-vector"#}
          basemap: "{{ request.GET.type }}"
      });

      let view = new MapView({
	    container: "viewDiv",
	    map: map,
	    //*** ADD ***//
	    center: [90.3564612,23.7872745],
	    zoom: 12
	  });
      //*** ADD ***//
	  // Create a point
	  let lon=[];
	  let lat=[];
        {% for l in lat %}
            {% if l %}
                lat.push({{ l }});
            {% endif %}
        {% endfor %}
        {% for l in lon %}
            {% if l %}
                lon.push({{ l }});
            {% endif %}
        {% endfor %}


    // Creating the overlapping rectangle
    let blx=[],bly=[],brx=[],bry=[],tlx=[],tly=[],trx=[],tpry=[];
    {% for b in blx %}
        blx.push({{ b }});
    {% endfor %}
    {% for b in bly %}
        bly.push({{ b }});
    {% endfor %}
    {% for b in brx %}
        brx.push({{ b }});
    {% endfor %}
    {% for b in bry %}
        bry.push({{ b }});
    {% endfor %}
    {% for b in tlx %}
        tlx.push({{ b }});
    {% endfor %}
    {% for b in tly %}
        tly.push({{ b }});
    {% endfor %}
    {% for b in trx %}
        trx.push({{ b }});
    {% endfor %}
    {% for b in tpry %}
        tpry.push({{ b }});
    {% endfor %}

        let a=0.005,b=0.015;
      for (let i=0;i<brx.length; i++){
          if (i=={{ mxrs_index }}){

            let polyline = {
            type: "polyline",  // autocasts as new Polyline()
            paths: [
              [blx[i], bly[i]],
              [tlx[i],tly[i]],
              [trx[i],tpry[i]],
              [brx[i],bry[i]],
              [blx[i], bly[i]]
            ]
          };


          // Create a symbol for drawing the line
          let lineSymbol = {
            type: "simple-line",  // autocasts as SimpleLineSymbol()
            color: [300, 42, 40],
            width: 4
          };

          // Create an object for storing attributes related to the line
          let lineAtt = {
            Name: "Dhaka",
            Owner: "Nasir"
          };

          let polylineGraphic = new Graphic({
            geometry: polyline,
            symbol: lineSymbol,
            attributes: lineAtt,
            popupTemplate: {  // autocasts as new PopupTemplate()
              title: "{Name}",
              content: [{
                type: "fields",
                fieldInfos: [{
                  fieldName: "Name"
                }, {
                  fieldName: "Owner"
                }, {
                  fieldName: "Length"
                }]
              }]
            }
          });

        view.graphics.add(polylineGraphic);
          } else{

            let polyline = {
            type: "polyline",  // autocasts as new Polyline()
            paths: [
              [blx[i], bly[i]],
              [tlx[i],tly[i]],
              [trx[i],tpry[i]],
              [brx[i],bry[i]],
              [blx[i], bly[i]]
            ]
          };


          // Create a symbol for drawing the line
          let lineSymbol = {
            type: "simple-line",  // autocasts as SimpleLineSymbol()
            color: [226, 119, 40],
            width: 4
          };

          // Create an object for storing attributes related to the line
          let lineAtt = {
            Name: "Dhaka",
            Owner: "Nasir"
          };

          let polylineGraphic = new Graphic({
            geometry: polyline,
            symbol: lineSymbol,
            attributes: lineAtt,
            popupTemplate: {  // autocasts as new PopupTemplate()
              title: "{Name}",
              content: [{
                type: "fields",
                fieldInfos: [{
                  fieldName: "Name"
                }, {
                  fieldName: "Owner"
                }, {
                  fieldName: "Length"
                }]
              }]
            }
          });

        view.graphics.add(polylineGraphic);
          }
      }




	  // Create a symbol for drawing the point
	  let markerSymbol = new SimpleMarkerSymbol({
	    color: [226, 119, 40],
	    outline: {
	      color: [255, 255, 255],
	      width: 1
	    }
	  });

	  // Create a graphic and add the geometry and symbol to it
	  for (let i = 0; i < lat.length; i++) {
	  	let point = new Point({
		    longitude: lon[i],
		    latitude: lat[i]
		  });
	  	let graphic_point = new Graphic({
		    geometry: point,
		    symbol: markerSymbol
		  });
	  	view.graphics.add(graphic_point);
	  }
    });

    /* A utility function to calculate area of
    triangle formed by (x1, y1), (x2, y2) and
    (x3, y3) */
    /**
     * @return {number}
     */
    function TriangleArea(x1,y1,x2,y2,x3,y3) {
        return Math.abs((x1*(y2-y3)+x2*(y3-y1)+x3*(y1-y2))/2.0);
    }

    /* A function to check whether point P(x, y)
    lies inside the rectangle formed by A(x1, y1),
    B(x2, y2), C(x3, y3) and D(x4, y4) */
    function check(x1, y1, x2, y2, x3, y3, x4, y4, x, y){
	/* Calculate area of rectangle ABCD */
	let A = area(x1, y1, x2, y2, x3, y3) +
			area(x1, y1, x4, y4, x3, y3);

	/* Calculate area of triangle PAB */
	let A1 = area(x, y, x1, y1, x2, y2);

	/* Calculate area of triangle PBC */
	let A2 = area(x, y, x2, y2, x3, y3);

	/* Calculate area of triangle PCD */
	let A3 = area(x, y, x3, y3, x4, y4);

	/* Calculate area of triangle PAD */
	let A4 = area(x, y, x1, y1, x4, y4);

	/* Check if sum of A1, A2, A3 and A4
	is same as A */
	let addition=A1 + A2 + A3 + A4;
	return A === addition;
    }
  </script>
    {% endblock %}
{% block content %}
    <div class="content">
        <div id="viewDiv"></div>
        <div class="info">
            <h1>Description: </h1>
            <div class="info1" style="display: flex;padding: 10px;"><span style="width: 15px; height: 15px; background: rgb(226, 119, 40); border-radius: 50%;margin-top: 5px;"></span><span>: Existing school</span></div>
            <div class="type"><label for="type">Type: </label>
                <select name="" id="">
                    <option value="hybrid">Hybrid</option>
                    <option value="sattelite">Sattelite</option>
                    <option value="map">Map</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}